<?xml version="1.0"?>
<launch>
	<rosparam command="load" file="$(find myrobotdescription)/config/joint_names_my_robot_description.yaml"/>

	<include file="$(find myrobotdescription)/launch/planning_context.launch" >
		<arg name="load_robot_description" value="true" />
	</include>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="/use_gui" value="false"/>
		<rosparam param="/source_list">[/joint_states]</rosparam>
	</node>

	<include file="$(find myrobotdescription)/launch/move_group.launch">
		<arg name="publish_monitored_planning_scene" value="true" />
	</include>

	<include file="$(find myrobotdescription)/launch/moveit_rviz.launch">
		<arg name="config" value="true"/>
	</include>

	<node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />

	  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />

	

</launch>
